@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;
}

@media (min-width: 640px) {
  :root {
    font-size: 18px;
  }
}

html {
  background-color: rgb(17 24 39 / 80%);
}
body {
  margin: 0 auto;
  border: 1px solid #333;
  max-width: 600px;
}
