@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;
}

@media (min-width: 640px) {
  :root {
    font-size: 18px;
  }
}

body {
  margin: 0 auto;
  max-width: 800px;
}
